<app-menu></app-menu>
<div class="page-header" style="flex-direction: column">
  <div class="detalhes-anuncio">
    <h4 class="card-title">Professor Particular</h4>
    <p class="card-text">Contato: Victor Cavalheiro</p>
    <p class="card-text">
      Pedagogo, com especialização no Atendimento Educacional Especializado e
      Neuroaprendizagem.<br />
      Resolvo atividades acadêmicas whatsapp: (31)9962... ver número, provas,
      exercícios em tempo real e com prazos.<br />
      Professores extremamente capacitados! Resolução online de listas/aulas por
      skype de Engenharia e Exatas.
    </p>
    <div class="rodape-detalhes">
      <span class="badge badge-default">Educação</span>
      <span class="badge badge-pill badge-info">R$ 70</span>
    </div>
    <div class="btn-detalhes">
      <a [routerLink]="['/contratarServico']"><button class="btn btn-primary btn-round">Contratar</button></a>
    </div>
  </div>
</div>
