<app-menu></app-menu>
<div class="filtro">
  <div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="material-icons">search</i>
        </span>
      </div>
      <select
        class="form-control selectpicker"
        placeholder="Buscar por categoria>"
        data-style="btn btn-link"
        id="exampleFormControlSelect1">
        <option value="" disabled selected id="categoria">Filtre uma categoria</option>
        <option>Agro/indústria</option>
        <option>Automóveis</option>
        <option>Educação</option>
        <option>Eletrodomésticos</option>
        <option>Esporte</option>
        <option>Moda/beleza</option>
        <option>Música</option>
        <option>Para casa</option>
        <option>Pet</option>
        <option>Saúde</option>
      </select>
      <!--<input type="text" class="form-control" placeholder="Localizar serviço">-->
      <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>
</div>
<!-- FIM FILTROS-->
<!-- INÍCIOS FIXO-->
  <div class="card">
    <a [routerLink]="['/detalheServico']">
    <div class="card-body">
      <h4 class="card-title">Professor particular
          <span class="badge badge-pill badge-info">R$ 70</span>
      </h4>
      <p class="card-text">Pedagogo, com especialização no Atendimento Educacional Especializado e Neuroaprendizagem.</p>
      <button class="btn btn-primary btn-sm">Contrate-me</button>      
    </div>
    </a>
  </div>
  <div class="card">
    <a [routerLink]="['/detalheServico']">
    <div class="card-body">
      <h4 class="card-title">Aula de violão
          <span class="badge badge-pill badge-info">R$ 100</span>
      </h4>
      <p class="card-text">Aula de Violão particular! Mais de 15 anos de experiência com música. Prática de bandas.</p>
      <button class="btn btn-primary btn-sm">Contrate-me</button>      
    </div>
    </a>
  </div>
  <div class="card">
    <a [routerLink]="['/detalheServico']">
    <div class="card-body">
      <h4 class="card-title">Diarista
          <span class="badge badge-pill badge-info">R$ 60</span>
      </h4>
      <p class="card-text">Serviço completo de limpeza, com mais de 10 anos de experiência na área. Faça já seu orçamento via contato.</p>
      <button class="btn btn-primary btn-sm">Contrate-me</button>      
    </div>
    </a>
  </div>
  
  <!-- FIM FIXO -->


<div *ngFor="let servico of servicos" class="card">
  <a [routerLink]="['/detalheServico',servico.id]">
    <div class="card-body">
      <h4 class="card-title">
        {{ servico.titulo }}
        <span class="badge badge-pill badge-info">{{ servico.valor }}</span>
      </h4>
      <p class="card-text">{{ servico.descricao }}</p>
      <button class="btn btn-primary btn-sm">Contrate-me</button>
    </div>
  </a>
</div>
