<div class="page-header header-filter" style="background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" style="min-height: 450px">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Editar anúncio</h4>
                <div class="social-line">
                </div>
              </div>
              <div class="card-body">
                <div class="input-group" style="margin-top: 2px">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">title</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="" value="Professora particular">
                </div>
                
                <div class="input-group" style="margin-top: 2px">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">list_alt</i>
                    </span>
                  </div>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="">Pedagoga, com especialização no Atendimento Educacional Especializado e Neuroaprendizagem.
                  </textarea>
                </div>
                <div class="input-group" style="margin-top: 2px">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">category</i>
                    </span>
                  </div>
                  <select type="text" class="form-control selectpicker" placeholder="Categoria">
                      <option>Imóveis</option>  
                      <option>Autos e peças</option>  
                      <option>Serviços</option>  
                      <option>Músicas e hobbies</option>  
                      <option>Esportes e lazer</option>  
                      <option>Moda e beleza</option>  
                      <option>Agro e indústria</option>   
                    </select>
                </div>
                <div class="input-group" style="margin-top: 2px">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">paid</i>
                    </span>
                  </div>
                  <input type="number" class="form-control" placeholder="" value="100.00">
                </div>   
              </div>
              <div class="footer text-center">
                <a href="#" class="btn btn-primary btn-link btn-wd btn-lg bg">Atualizar</a>
                <a class="btn btn-primary btn-link btn-wd btn-lg">Voltar</a> <!--[routerLink]="['/meusAnuncios']"-->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>